/* CSS CODE PAR DAVID */ 

.Title{
    display: flex;
    justify-content: center;
    font-size: 5em;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: rgb(32, 141, 230) 0px 0 15px;
    animation: neon 0.05s infinite alternate, pan-overlay 10s infinite linear;
  }
@media only screen and (max-width: 600px) {
    .Title {
      font-size:  3em;
    }
}
  
.text-overlay-neon{
    background: linear-gradient(
      #0b5991,
      #0b5991 3px,
      #1686d6 3px,
      #1686d6 8px
    );
    background-size:  100% 8px;
    -webkit-background-clip: text;
    color: transparent;
    width: 100%;
    height: 100%;
  }
  
  @keyframes neon {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.85;
    }
  }

  @keyframes pan-overlay {
  
    from {
      background-position: 0% 0%
    }
    
    to {
      background-position: 0% 100%;
      
    }
  }