.ImgDiv img{
    width: 180px;
    height: auto;
    border: 3px solid #aaaaaa;
    margin: 10px;
}

.ImgDiv img:hover{
    opacity: 0.8;
}

.ImgDiv{
    float: left;
    position: relative;
}

.ImgDiv div{
    position: absolute;
    bottom: 5px;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
}

.end{
    clear: both;
}
